<p id="notice"><%= notice %></p>

<section class="outer-container">

<h1>PRODUCTS</h1>

<div class="main-content-table">
  <table>
  <tbody>
      <tr>

        <div class="title-column">
          <th>ITEM</th>
        </div>

        <div class="price-column">
          <th>PRICE</th>
        </div>

        <th></th>
      </tr>

      <tr>
        <% @product.each do |product| %>
        <td><%= product.title %></td>
        <td><%= "$#{product.price}" %></td>

        <td>
        <div class="button">
          <%= link_to 'Show', product %>
        </div>
        </td>
      </tr>

    <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
</section>
