<p id="notice"><%= notice %></p>

<section class="outer-container">


<div class="main-content-column">
<h1>PRODUCTS</h1>

<div class="table-minimal">
  <table>
  <tbody>
        <tr>
          <th>ITEM</th>
          <th>PRICE</th>
          <th></th>
        </tr>

        <tr>
          <% @product.each do |product| %>
          <td><%= product.title %></td>
          <td><%= "$#{product.price}" %></td>
          <td>
            <div class="button">
              <%= link_to 'Show', product %>
            </div>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>
</section>


<%= will_paginate @product%>
</div>

<div class="minor-content-column">
</div>
